* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    overflow: scroll;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #7e7e7e;
    border-radius: 50px;
}


a {
    text-decoration: none;
    color: #666;
}

img {
    cursor: pointer;
    border-color: black;
    margin: 30px grey;
}

img.info,
img.close,
img.bars {
    border-radius: 15px;
    height: 20px;
    width: 20px;
}

img.logo {
    height: 30px;
    width: 30px;
}

img.del {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
}

.flex-div {
    display: flex;
    align-items: center;
    background: black;
}

nav {
    display: flex;
    padding: 16px 2%;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1;
    color: black;
}

.flex-div1 {
    display: flex;
    align-items: center;
}

nav {
    justify-content: space-between;
    background: #fff;
}

/* .flex-div1.nav-right1 {
    padding: 5px;
    cursor: pointer;
    background-color: #fff;
    border-color: #fff;
    font-weight: 600;
    font-size: 12px;
} */



.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    padding-left: 20px;
}

h1 {
    align-items: center;
    margin-top: 200px;
    font-size: 50px;
}

p {
    font-size: x-large;
}

.btn:hover {
    padding: 12px;
    transition: padding 0.4s ease;
    border-radius: 5px;
    background-color: #e3e0e0;
}

input {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 10%;
    padding: 15px;
    background-color: #f2f0f0;
    border: 1px solid #666;
    border-radius: 10px;
    font-size: 16px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: medium;
    height: 200px;
    background-color: black;
    color: #fff;
    border-top: 1px solid white;
}

footer.low-footer {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .del {
        width: 100% !important;
    }

    .content {
        width: 100%;
    }

    h1 {
        margin-top: 20px;
    }
}